{% extends "hostels/base.html" %}

{% block title %}Список кроватей{% endblock %}

{% block content %}
    {% if bed_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Пол</th>
                    <th>Тариф</th>
                    <th>Статус</th>
                    <th>Дата въезда</th>
                    <th>Дата выезда</th>
                    <th>Сумма</th>
                    <th>ФИО клиента</th>
                    <th>Паспортные данные</th>
                    <th>Номер телефона</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for bed in bed_list %}

                {% if bed.actual_order %}
                    {% if bed.actual_order.status == bed.actual_order.AWAITING_ACTIVATION %}
                    <tr class="warning">
                    {% elif bed.actual_order.status == bed.actual_order.AWAITING_COMPLETION %}
                    <tr class="success">
                    {% elif bed.actual_order.status == bed.actual_order.ACTIVE %}
                    <tr class="info">
                    {% endif %}
                {% else %}
                    <tr>
                {% endif %}


                    <td>{{ bed.id }}</td>
                    <td>{{ bed.gender_text }}</td>
                    <td>{{ bed.tax.name }}</td>
                    <td>{{ bed.actual_order.status_text }}</td>
                    <td>{{ bed.actual_order.start_date | date:'Y.m.d' }}</td>
                    <td>{{ bed.actual_order.end_date | date:'Y.m.d' }}</td>
                    <td>{{ bed.actual_order.value }}</td>
                    <td>{{ bed.actual_order.guest_full_name }}</td>
                    <td>{{ bed.actual_order.guest_identification }}</td>
                    <td>{{ bed.actual_order.guest_phone_number }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">

                                {% if bed.actual_order %}
                                    {% if bed.actual_order.status == bed.actual_order.AWAITING_ACTIVATION %}
                                        <li><a href="{% url 'hostels:activate_reservation' bed_id=bed.id %}"><span class="glyphicon glyphicon-ok"></span> Активировать бронь</a></li>
                                        <li><a href="{% url 'hostels:cancel_reservation' bed_id=bed.id %}"><span class="glyphicon glyphicon-remove"></span> Отменить бронь</a></li>
                                    {% elif bed.actual_order.status == bed.actual_order.AWAITING_COMPLETION %}
                                        <li><a href="{% url 'hostels:confirm_completion' bed_id=bed.id %}"><span class="glyphicon glyphicon-ok"></span> Подтвердить выселение</a></li>
                                        <li><a href="{% url 'hostels:change_order_end_date' bed_id=bed.id %}"><span class="glyphicon glyphicon-time"></span> Продлить/сократить</a></li>
                                    {% else %}
                                        <li><a href="{% url 'hostels:change_order_end_date' bed_id=bed.id %}"><span class="glyphicon glyphicon-time"></span> Продлить/сократить</a></li>
                                    {% endif %}

                                {% else %}
                                    <li><a href="{% url 'hostels:create_actual_order' bed_id=bed.id %}"><span class="glyphicon glyphicon-edit"></span> Заселить</a></li>
                                {% endif %}

                                <li><a href="{% url 'hostels:create_reservation' bed_id=bed.id %}"><span class="glyphicon glyphicon-bookmark"></span> Забронировать</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% include "hostels/alert_template.html" with type="info" message="У вас нет доступных кроватей. Для создания обратитесь к администратору сети." %}
    {% endif %}
{% endblock %}