{% extends 'hostels/base.html' %}

{% block title %}История заказов{% endblock %}

{% block content %}

    {% if error %}
        {% include "hostels/alert_template.html" with type="danger" message=error %}
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <form role="form" class="form-inline" method="get">
                <div class="form-group">
                    <!-- <label for="id_start_date">Начало периода:</label> -->
                    <input type="text" id="id_start_date" class="form-control" name="start_date" value="{{ start_date|date:'Y-m-d' }}" placeholder="Начало периода">
                </div>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <div class="form-group">
                    <!-- <label for="id_end_date">Конец периода:</label> -->
                    <input type="text" id="id_end_date" class="form-control" name="end_date" value="{{ end_date|date:'Y-m-d' }}" placeholder="Конец периода">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
            </form>
            <script type="text/javascript">
                $('#id_start_date').datepicker({
                    format: "yyyy-mm-dd",
                    language: 'ru',
                });
                $('#id_end_date').datepicker({
                    format: "yyyy-mm-dd",
                    language: 'ru',
                });
            </script>
        </div>
    </div>

    <br><br><br>
    {% if orders %}
        <table class="table">
            <thead>
                <tr>
                    <th>Номер заказа</th>
                    <th>Кровать</th>
                    <th>Начало периода истории</th>
                    <th>Конец периода истории</th>
                    <th>Дата въезда</th>
                    <th>Дата выезда</th>
                    <th>Сумма</th>
                    <th>ФИО клиента</th>
                    <th>Паспортные данные клиента</th>
                    <th>Телефоны клиента</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.bed }}</td>
                    <td>{{ order.history_start|date:'Y.m.d H:i:s' }}</td>
                    <td>{{ order.history_end|date:'Y.m.d H:i:s' }}</td>
                    <td>{{ order.start_date|date:'Y.m.d' }}</td>
                    <td>{{ order.end_date|date:'Y.m.d' }}</td>
                    <td>{{ order.value }}</td>
                    <td>{{ order.guest_full_name }}</td>
                    <td>{{ order.guest_identification }}</td>
                    <td>{{ order.guest_phone_number }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% include "hostels/alert_template.html" with type="info" message="Не найдено заказов за указанный период." %}
    {% endif %}

{% endblock %}